.BaseLearnerOrigin {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.SplitFormLabel {
  padding-top: 10px;
  padding-bottom: 10px;
}

.DeleteButton {
  padding-right: 5px;
  float: right;
  color: gray;
}

.DualList ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.DeleteButton:onhover {
  color: black;
}

.load-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}