.BaseLearner {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px; 
}

.BaseLearner * {
  margin: 0;
}

.BaseLearner table {
  border-collapse: collapse;
  width: 100%;
}

.BaseLearner th, td {
  text-align: left;
  padding: 8px;
}

.BaseLearner tr:nth-child(odd):hover {
  background-color: #f5f5f5
}

/*tr:nth-child(even){background-color: #ffffff}*/