.BaseLearnerPadding {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px; 
}

.BaseLearner * {
  margin: 0;
}

.BaseLearner table {
  border-collapse: collapse;
  width: 100%;
}

.BaseLearner th, td {
  text-align: left;
}

.BaseLearner tr:nth-child(odd) {
  cursor: pointer;
}

.BaseLearner tr:nth-child(odd):hover {
  background-color: #f5f5f5
}

.collapse {
  background-color: #f5f5f5;
}

.load-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}